.header
	padding: 10px 15px 13px 30px
.logo
		&__img

.menu
		display: flex
		justify-content: space-between
		align-items: flex-start
		&__list
			display: flex
			justify-content: space-between
			padding-top: 32px
		&__item + &__item
			margin-left: 40px
		&__link
			color: $black
			opacity: 0.6
			font-weight: 400
			font-size: 14px
			line-height: 16px
			&_active
				font-size: 15px
				font-weight: 700
				line-height: 18px
				opacity: 1
				color: $pink
				font-style: normal
		&__btn
			margin-top: 15px


